In [1]:
import numpy as np
import pandas as pd
s=pd.Series([3,9,-2,10,5])
sm=s.sum()
print('sum= ',sm)
print('\n')
mn=s.min()
print('min= ',mn)
mx=s.max()
print('\n')
print('max= ',mx)

sum=  25


min=  -2


max=  10

In [2]:
import pandas as pd
data=[['Hritik',21],['Vijay',39],['Raman',56]]
df=pd.DataFrame(data,columns=['name','age'])
print(df)

     name  age
0  Hritik   21
1   Vijay   39
2   Raman   56

In [3]:
import pandas as pd
data = {'Name':['Hritik','Vijay','Raman'],'age':[21,39,56]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

         Name  age
rank1  Hritik   21
rank2   Vijay   39
rank3   Raman   56

In [6]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'A':pd.Timestamp('20130102'),'B':np.array([3]*4,dtype='int32'), 'C':pd.Categorical(['Male','Female','Male','Female'])})
print(df1)
print('\n')
print(df1.shape)
print('\n')
print(df1.dtypes)
print('\n')
print(df1.head())
print('\n')
print(df1.tail())
print('\n')
print(df1.T)

           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


(4, 3)


A    datetime64[ns]
B             int32
C          category
dtype: object


           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


                     0                    1                    2  \
A  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
B                    3                    3                    3
C                 Male               Female                 Male

                     3
A  2013-01-02 00:00:00
B                    3
C               Female

In [12]:
import pandas as pd
import numpy as np
data = {'Name':['Hritik','Vijay','Raman'],'age':[21,39,56]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3'])
#print(df)
df1=pd.DataFrame({'A':pd.Timestamp('20130102'),'B':np.array([3]*4,dtype='int32'), 'C':pd.Categorical(['Male','Female','Male','Female'])})
print(df1)
print('\n')
print(df1.head())
print('\n')
print(df1.tail())
print('\n')
print(df1.index)
print('\n')
print(df1.columns)
print('\n')
print(df1.T)

           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


           A  B       C
0 2013-01-02  3    Male
1 2013-01-02  3  Female
2 2013-01-02  3    Male
3 2013-01-02  3  Female


RangeIndex(start=0, stop=4, step=1)


Index(['A', 'B', 'C'], dtype='object')


                     0                    1                    2  \
A  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
B                    3                    3                    3
C                 Male               Female                 Male

                     3
A  2013-01-02 00:00:00
B                    3
C               Female

In [7]:
import pandas as pd
data=[['Hritik',10],['Vijay',12],['Raman',13]]
df1=pd.DataFrame(data,columns=['Name','Age'])
data2 = [['vinay',10],['Ravi',12],['raj',13],['donald',22],['ram',45]]
df2=pd.DataFrame(data2,columns=['Name','Age'])
print(df1.shape)
print(df2.shape)
Df_new= pd.concat ((df1, df2), axis=1)
print(Df_new.shape)
Df_new2=pd.concat((df1,df2),axis=0)
print(Df_new2.shape)
print(df1.sort_values(by='Age'))

(3, 2)
(5, 2)
(5, 4)
(8, 2)
     Name  Age
0  Hritik   10
1   Vijay   12
2   Raman   13